body {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid;
    text-align: center;
}

h1 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
th {
    background-color: lightskyblue;
}
ul {
    align-items: center;
}

.sortable th:hover::after {
    color: inherit;
    font-size: 1.2em;
    content: '\A\A\00a0\025B8';
  }
  
  .sortable th::after {
    font-size: 1.2em;
    color: transparent;
    content: '\A\A\00a0\025B8';
  }
  
  .sortable th.dir-d::after {
    color: inherit;
    content: '\A\A\00a0\025BE';
  }
  
  .sortable th.dir-u::after {
    color: inherit;
    content: '\A\A\00a0\025B4';
  }
  
  th.no-sort {
    pointer-events: none;
  }
  
  th.no-sort::after {
    content: none;
  }

  .common {
    background-color: lightgrey;
  }

  .rare {
    background-color: lightskyblue;
  }

  .elite {
    background-color: violet;
  }

  .srare {
    background-color: gold;
  }

  .urare {
    background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
  }