body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

table, th, td {
    border: 1px solid;
    text-align: center;
}

.box {
  text-align: center;
  background-color: lightcyan;
  padding: 20px;
  border-color: black;
  border: 3px black dotted;
}
.banner {
    text-align: center;
    background-image: url("banner.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px;
}
.banner-text{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: azure;
  text-emphasis-style: bold;
  text-shadow: 2px 2px black;
}
table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    table-layout: fixed;
}

th {
    background-color: #749cf2;
    padding: 20px;
}

ul {
    align-items: center;
}

.hlink {
  color: azure;
  text-decoration: none;
  font-style: italic;
}

  .common {
    background: lightgrey !important;
  }

  .rare {
    background: lightskyblue !important;
  }

  .elite {
    background: violet !important;
  }

  .srare {
    background: gold !important;
  }

  .urare {
    background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;
  }
  
  .button {
    background: red;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: azure;
  }